body {
	font:
		20px
		"Noto Sans";
	padding:
		1em;
	background:
		#f8f8f8
}
select {
	margin-bottom:
		1em;
	padding:
		0.25em
		0.5em;
}
.character-details {
	background:
		#fff;
	padding:
		1em;
	border-radius:
		0.25em;
	box-shadow:
		0em
		0em
		0.25em
		rgba(0,0,0,0.1)
}