-
	space="\u{20}"
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		script(src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js")
		link(
			rel="stylesheet"
			href="page/_.css"
		)
	body
		h1
		code
			label(for="characterSelect") Choose a Hero:#{space}
			select#characterSelect
		#characterDetails.character-details
		script(src="page/_.js")