body {
	font: 20pt "Inter";
	padding: 1em;
	background: #f8f8f8;
	code,
	select {
		font: 1em "Fira Code";
		margin: 0.25em;
		padding: 0.25em 0.25em;
	}
	.character-details {
		background: #fff;
		padding: 1em;
		border-radius: 0.25em;
		box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.1);
		dl {
			margin: 0;
			#primary,
			#secondary,
			.head {
				font-weight: bold;
			}
			q {
				font-style: italic;
			}
			#primary {
				font-size: 1.5em;
				text-decoration: underline;
			}
			#secondary {
				font: 1em "Fira Code";
				& q {
					&::before,
					&::after {
						content: '"';
					}
				}
			}
		}
	}
}
