body {
	font: 20pt "Inter";
	padding: 1em;
	background: #f8f8f8;
	code {
		&,
		select {
			font: 1em "Fira Code";
			margin-bottom: 1em;
			padding: 0.25em 0.5em;
		}
	}
	.character-details {
		background: #fff;
		padding: 1em;
		border-radius: 0.25em;
		box-shadow: 0em 0em 0.25em rgba(0, 0, 0, 0.1);
		dl {
			:nth-child(1) {
				font-size: 1.5em;
			}
			dt {
				font-weight: bold;
				&:nth-child(1) {
					text-decoration: underline;
				}
			}
			q {
				font-style: italic;
			}
		}
	}
}
